@font-face {
    font-family: "ADAM.CG PRO";
    src: url("font/ADAM.CG PRO.otf");
}

#mainTitleBase{
    background-color: #b7c3b8;
    padding: 50px;
    vertical-align: middle;
}

#mainTitle{
    font-family: "ADAM.CG PRO";
    color: #636466;
    margin-top: 0;
}

#mainTitleLogo{
    max-width: 120px;
    height: auto;
    display: inline-block;
    padding-left: 15px;
    padding-bottom: 25px;
    padding-top: 10px;
    padding-right: 10px;
    /*background-color: #db928b;*/
}

#mySidebar{
    color: #636466;
    display: none;
}

#hamburgerSpace{
    background-color: #b7c3b8;
    color: #636466;
}

#nomeDelProgetto p {
    margin-top: 30px;
    margin-bottom: 0;
}

#nomeDelProgetto p a {
    color: #b7c3b8;
}

#nomeDelProgetto a:hover{
    color: #636466;
}

#mainContainer h3{
    color: #636466;
    font-family: "ADAM.CG PRO";
}

#mainContainer h4{
    font-family: "ADAM.CG PRO";
    color: #636466;
}

#mainContainer{
    color: #636466;
}

@media screen and (orientation: portrait) {

    #mainTitle{
        text-align: center;
        width: auto;
    }

    #mainTitleLogo{
        display: none;
    }
}
